@page "/PoPlanningProdPage"
@using ProductionPlanWsp.Shared;
@inject HttpClient Http;
@using Syncfusion.Blazor.PivotView
@using Syncfusion.Blazor.Buttons

<h3>POPlanningProduction</h3>

<SfPivotView TValue="VwPoPlanningProduction" ShowFieldList="true" Height="700" AllowPdfExport="true" AllowExcelExport="true" ShowGroupingBar="true" EnableVirtualization="true" EnableValueSorting="true">
    <PivotViewDataSourceSettings DataSource="@listpp">
        <PivotViewColumns>
            <PivotViewColumn Name="Week"></PivotViewColumn>
            <PivotViewRows>
                <PivotViewRow Name="Ctv"></PivotViewRow>
                <PivotViewValues>
                    <PivotViewValue Name="PlanningQuatity" Caption="Planning"></PivotViewValue>
                    <PivotViewValue Name="CalculatedTotalWeeklyProduction" Caption="Production"></PivotViewValue>
                    
                    <PivotViewValue Name="ProductionDelta" Caption="ProductionDelta"></PivotViewValue>
                    <PivotViewValue Name="PODelta" Caption="PODelta"></PivotViewValue>
                    <PivotViewValue Name="PoQty" Caption="PoQty"></PivotViewValue>
                </PivotViewValues>
            </PivotViewRows>

        </PivotViewColumns>
    </PivotViewDataSourceSettings>
</SfPivotView>


<style>

    .e-pivotview .e-headercell {
        background-color: thistle !important;
    }

    .e-pivotview .e-rowsheader {
        background-color: skyblue !important;
    }

    .e-pivotview .e-summary:not(.e-gtot) {
        background-color: pink !important;
    }

    .e-pivotview .e-gtot {
        background-color: greenYellow !important;
    }
</style>

@code {
    public VwPoPlanningProduction[] ppList = { };
    List<VwPoPlanningProduction> listpp = new List<VwPoPlanningProduction>();

    protected override async Task OnInitializedAsync()
    {
        string linktmp = "/api/POProduction";
        ppList = await Http.GetFromJsonAsync<VwPoPlanningProduction[]>(linktmp);

        listpp = new List<VwPoPlanningProduction>(ppList);
    }

}
